---
import BaseLayout from '../layouts/BaseLayout.astro';

// Load TOC to find first chapter
let firstChapterSlug = 'how-to-read-this-document';
try {
  const tocModule = await import('../data/toc.json');
  const tocData = tocModule.default;
  for (const section of tocData.sections) {
    if (section.chapters && section.chapters.length > 0) {
      firstChapterSlug = section.chapters[0].slug;
      break;
    }
  }
} catch (e) {
  // Use default
}
---

<BaseLayout title="Building Blocks - Public Policy Lab" showSidebar={false} fullWidth={true}>
  <div class="home-wrapper">
    <div class="home-container">
      <div class="home-cover">
        <img src="/cover-vertical.png" alt="Building Blocks Cover" />
      </div>
      <div class="home-content">
        <h1 class="home-title">BUILDING BLOCKS:<br />COLLECTED BRIEFS & PUBLICATIONS, 2024-25</h1>
        <p class="home-byline">By Public Policy Lab</p>
        <p class="home-description">
          [DRAFT STAGE - TO BE OFFICIALLY RELEASED EST. JAN 2026] This digital publication compiles some of the work developed by Public Policy Lab over the past 18 months. We publish this along with brand-new material thematically binding these briefs together, as well as further information about our work.
        </p>
        <div class="home-buttons">
          <a href={`/chapter/${firstChapterSlug}`} class="home-cta">Start Reading</a>
          <a href="https://policylabmv.com" class="home-link">Back to Homepage</a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
